form.pure-form
  label
    span= "Sort by: "
    select(ng-model="$ctrl.store.filter.order.property")
      option(value="-createdAt")= "Date added"
      option(value="title")= "Title"
      option(value="release_date")= "Release Date"

    button.pure-button.movy-sort(ng-click="$ctrl.store.filter.order.reverse = !$ctrl.store.filter.order.reverse")
      img(
        src="/img/icon/ic_arrow_upward_black_18dp.png"
        ng-show="$ctrl.store.filter.order.reverse === true"
      )
      img(
        src="/img/icon/ic_arrow_downward_black_18dp.png"
        ng-show="$ctrl.store.filter.order.reverse === false"
      )
