.movy-pager
  button.btn.btn-secondary(
    type="button"
    ng-click="$ctrl.previousPage()"
    ng-disabled="$ctrl.state.current === 1"
  )= "Previous"

  span| &nbsp; {{ $ctrl.state.current | padFilter }} &nbsp;
  span= "/"
  span| &nbsp; {{ $ctrl.state.total   | padFilter }} &nbsp;

  button.btn.btn-secondary(
    type="button"
    ng-click="$ctrl.nextPage()"
    ng-disabled="$ctrl.state.current === $ctrl.state.total"
  )= "Next"
