.movy-pager
  button.pure-button(
    type="button"
    ng-click="$ctrl.previousPage()"
    ng-disabled="$ctrl.state.current === 1"
  )= "Previous"

  span| {{ $ctrl.state.current }}
  span= " / "
  span| {{ $ctrl.state.total }}

  button.pure-button(
    type="button"
    ng-click="$ctrl.nextPage()"
    ng-disabled="$ctrl.state.current === $ctrl.state.total"
  )= "Next"
