button.btn.btn-sm.btn-danger.movy-control.movy-remove(
  type="button"
  title="Remove"
  ng-click="$ctrl.onRemove()"
)
  img(src="/img/icon/ic_delete_white_18dp.png")

button.btn.btn-sm.btn-secondary.movy-control.movy-check(
  type="button"
  title="Watched"
  ng-class="{ 'movy-active': ($ctrl.movie.watched === true) }"
  ng-click="$ctrl.onUpdate({ watched: !$ctrl.movie.watched })"
)
  img(src="/img/icon/ic_check_circle_white_18dp.png")

button.btn.btn-sm.btn-secondary.movy-control.movy-fav(
  type="button"
  title="Starred"
  ng-class="{ 'movy-active': ($ctrl.movie.starred === true) }"
  ng-click="$ctrl.onUpdate({ starred: !$ctrl.movie.starred })"
)
  img(src="img/icon/ic_star_rate_white_18dp.png")
