.pure-g
  .pure-u-3-5
    movy-filter(
      movy-filter="$ctrl.store.filter"
    )

  .pure-u-2-5
    movy-pager

.pure-g
  .pure-u-1
    .movy-grid
      movy-grid(
        movy-filter="$ctrl.store.filter"
        movy-movies="$ctrl.store.movies"
        movy-pager="$ctrl.store.pager"
        movy-on-remove="$ctrl.onRemove(movie)"
        movy-on-update="$ctrl.onUpdate(movie, patch)"
      )
