.pure-g
  .pure-u-3-5
    movy-filter(
      movy-filter="$ctrl.store.filter"
    )

  .pure-u-2-5
    movy-pager(
      movy-pager-state="$ctrl.store.pager"
      movy-next-page="$ctrl.nextPage()"
      movy-previous-page="$ctrl.previousPage()"
    )

.pure-g
  .pure-u-1
    .movy-grid
      movy-grid(
        movy-filter="$ctrl.store.filter"
        movy-movies="$ctrl.store.movies"
        movy-pager="$ctrl.store.pager"
      )
