extends layout.pug

block css
  link(href="/css/signup.css" rel="stylesheet")

block content
  .container
    .movy-signup
      form(action='/signup' method="post")
        .form-group
          label
            span= "Username"
            input.form-control(type="text" name="username" required)

        .form-group
          label
            span= "Password"
            input.form-control(type="password" name="password" required)

        button.btn.btn-primary(type="submit")= "Signup"

      p
        = "Already have an account ? "
        a(href="/login")= "Login here"

    if error.length > 0
      .alert.alert-danger
        p= error
