form.form-inline
  .form-group
    label
      span= "Sort by: "
      select.form-control(ng-model="$ctrl.filter.order.property")
        option(value="-createdAt")= "Date added"
        option(value="title")= "Title"
        option(value="release_date")= "Release Date"

    button.btn.btn-secondary(
      title="Reverse order"
      ng-click="$ctrl.filter.order.reverse = !$ctrl.filter.order.reverse"
    )
      img(
        src="/img/icon/ic_arrow_upward_black_18dp.png"
        ng-show="$ctrl.filter.order.reverse === true"
      )
      img(
        src="/img/icon/ic_arrow_downward_black_18dp.png"
        ng-show="$ctrl.filter.order.reverse === false"
        )
